/* Removing all former styles */
*{
  margin: 0;
  padding:0,
}
/* App container styling */
.App{
  width: 100%;
}
/* bootstrap button style removed */
button:focus {
  outline:none!important;
  /* outline: 5px auto -webkit-focus-ring-color; */
}